body
{
    font-family: 'PT Sans', boild, sans-serif;

    height: 2000px;
}
h1
{
    font-size: 24px;

    padding-top: 15px;
}
h2
{
    font-size: 18px;

    margin-bottom: 0;
    padding-top: 28px;
}
.containers
{
    position: relative; /*Положение элемента устанавливается относительно его исходного места*/

    width: 520px;
    margin: 200px auto;
}
.container-1,
.container-2,
.container-3
{
    position: absolute; /*положение влияет значение свойства position родительского элемента*/

    width: 520px;
    height: 747px;

    border: 2px solid black;
}
.container-1
{
    z-index: 9;

    background-color: #ebebeb;
}
.container-2
{
    z-index: 7;
    top: 20px;
    left: 20px;

    background-color: #ccc;
}
.container-3
{
    z-index: 5;
    top: 40px;
    left: 40px;

    background-color: #acacac;
}
.bookmark-1,
.bookmark-2,
.bookmark-3
{
    position: absolute;
    left: 490px;

    width: 110px;
    height: 35px;

    border: 2px solid black;
    border-radius: 0 10px 10px 0;
}
.bookmark-1
{
    z-index: 10;

    margin-top: 39px;

    background-color: #f68e56;
}
.bookmark-2
{
    z-index: 8;

    margin-top: 44px;
    margin-left: -35px;

    background-color: #39b54a;
}
.bookmark-3
{
    z-index: 6;

    margin-top: 48px;
    margin-left: -68px;

    background-color: #00aeef;
}
.test p,
h1,
h2
{
    font-weight: normal;

    padding-right: 30px;
    padding-left: 30px;

    text-align: left;
}
.test p
{
    font-size: 12px;

    margin-top: -5px;
}
.test img
{
    display: block;
}
.images
{
    height: 210px;
    padding-bottom: 5px;
}
.images img
{
    float: left;

    width: 195px;
    height: 90px;
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 30px;
}
.css-is-awesome
{
    float: left;

    width: 207px;
    height: 111px;
    margin: 0 22px 0 0;
    padding-bottom: 10px;
    padding-left: 30px;
}
.CSS-to-HTML
{
    float: right;

    width: 143px;
    height: 143px;
    padding-right: 30px;
}
.footer p
{
    font-size: 11px;

    width: 85%;
    padding-top: 15px;

    text-align: center;
}
.media
{
    position: fixed; /* Фиксированное положение */
    z-index: 10;
    top: 90%;
    right: 10px;

    width: 88px;
    height: 68px;

    border: 2px solid black;
    background-color: #fbaf5d;
}
.media p
{
    font-size: 16px;

    margin: 4px;

    text-align: center;
}
.media img
{
    width: 20px;
    height: 20px;
    padding-top: 4px;
    padding-left: 7px;
}
