.body
{
	height: 2000px;
}
.container
{
	
}
.container-1, .container-2, .container-3
{
	width: 520px;
	height: 747px;
	border: 2px solid black;
}
.container-1
{
	background-color: #cccccc;
	/*sition: absolute;*/
	margin-top: 200px;
	margin-left: 218px;

}
h1 {
  font-size: 24px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", sans-serif;
  color: rgb( 51, 51, 51 );
 
}
.test
{
	padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}

.container-2
{
	background-color: #ebebeb;
	position: absolute;
	margin-top: 200px;
	top: -20px;
	left: -17px;
	margin-left: 218px;
	
	
}
.container-3
{
	background-color: #acacac;
	position: absolute;
	margin-top: 200px;
	margin-left: 218px;
	top: 20px;
	left: 30px;
	z-index: -1;
	
	
}
